---
const { className } = Astro.props || "";
---

<button
  class:list={[
    className,
    "p-2 rounded-full text-secondary hover:bg-slate-100 hover:shadow-md transition-all hover:scale-105 cursor-pointer",
  ]}
>
  <slot />
</button>
