<!-- Main Navigation -->
<nav class="bg-white hidden sm:block">
  <div class="container mx-auto px-4">
    <ul
      class="flex items-center justify-center space-x-6 overflow-x-auto no-scrollbar py-2 text-sm font-medium uppercase text-gray-600 whitespace-nowrap"
    >
      <li><a class="nav-link-active pb-2" href="#">Inicio</a></li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#"
          >Ingresos</a
        >
      </li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#">Ofertas</a
        >
      </li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#">Mujer</a>
      </li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#">Hombre</a>
      </li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#"
          >Infantil</a
        >
      </li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#"
          >Accesorios</a
        >
      </li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#"
          >Calzados</a
        >
      </li>
      <li>
        <a class="hover:text-primary transition-colors pb-2" href="#">Tiendas</a
        >
      </li>
      <li>
        <a
          class="hover:text-primary transition-colors pb-2 text-primary font-bold"
          href="#">Tendencias</a
        >
      </li>
    </ul>
  </div>
</nav>
