---
import Layout from "@layouts/Layout.astro";
import PromoBanner from "@components/astro/PromoBanner.astro";
import Hero from "@components/astro/Hero.astro";
import ProductsGrid from "@/components/astro/ProductsGrid.astro";
import StoresGrid from "@/components/astro/StoresGrid.astro";
import { getProducts } from "@lib/products";
import { getStores } from "@lib/stores";

const storesData = await getStores();
const productsData = await getProducts();
---

<Layout>
  <Hero />
  <PromoBanner />
  <div class="max-w-7xl mx-auto px-4">
    <StoresGrid storesData={storesData} />
    <ProductsGrid productsData={productsData} />
  </div>
</Layout>
